.seventhsectionmaindiv{
    margin-top: 5rem!important;
    margin-bottom: 5rem;
}
.seventhsectionbottom{
    margin-top: 3rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    overflow-x: hidden;
}